@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Add this to your index.css or App.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    font-family: "Inter", sans-serif;

  }
}

.slick-prev:before,
.slick-next:before {
  content: unset;
}

.employees .slick-arrow {
  position: absolute;
  right: -150px;
  left: unset;
  top: 80%;
  background: #F59200;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}

.employer .slick-arrow {
  background: #F59200;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  z-index: 1;
}

.employees .slick-arrow:hover span svg, .employer .slick-arrow:hover span svg { 
  color: white;
}

.employer .slick-arrow.next-arr {
  right: -10px;
}

.employer .slick-arrow.prev-arr {
  left: -10px;
}

.employees .slick-arrow span,
.employer .slick-arrow span {
  height: 30px;
  width: 30px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employees .slick-arrow.next-arr {
  right: -90px;
}


ul.custom-dots{
  display: flex !important;
  gap: 10;
}
.custom-dots li {
  width: 16px !important;
  height: 16px !important;
  border-radius: 100px;
  border: 1px solid #0000F8; /* Customize border color */
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0;
}

.custom-dots li.slick-active{
  width: 50px !important;
  height: 16px;
  background-color: #0000F8; /* Active background color */
}

.custom-dots li div:before {
  content: none; /* Remove default dot style */
}



@layer utilities {
  .custom-icons li img {
    width: 80px;
    height: 25px;
    -o-object-fit: cover;
    object-fit: contain;
    filter: opacity(0.5);
  }
}

@layer utilities {
  .border-li li {
    position: relative;
    padding-right: 0.5rem;
    /* Adjust as needed */
  }

  .border-li li a:hover {
    color: #0000F8;
  }

  .border-li li::before {
    content: "";
    position: absolute;
    right: -5px;
    top: 5px;
    height: 60%;
    width: 1px;
    background-color: #000;
    /* Tailwind's 'gray-300' */
  }

  .border-li li:last-child::before {
    display: none;
  }

  /* Hides the pseudo-element on smaller screens */
  @media (max-width: 640px) {
    .border-li li::before {
      display: none;
    }
  }
}


.slick-dots li {
  width: 6px;
  height: 6px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

/* CSS for multiline ellipsis */
.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  /* Adjust based on line-height */
  line-height: 1.5rem !important;
  /* Adjust based on font-size */
}



@tailwind base;
@tailwind components;
@tailwind utilities;